@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
  font-family:  Montserrat;
  margin :0;
  font-size: 15px;

  background: hsl(240, 78%, 98%);
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-size: 400px 300px, 500px  650px;
  background-position: 5px 560px,right top;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

/* Heading */
header{   
  color: hsl(233, 13%, 49%);
  padding: 0px;
  margin:0px;
  font-size: 15px;
  text-align: center;
  margin-top: 73px;
}


/* Toggle switch Line*/

.toggle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;

  /* border: solid red; */
}

.annually{
  margin-right: 5px;
  color: hsl(234, 14%, 74%);
}
.monthly{
  margin-left: 5px;
  color: hsl(234, 14%, 74%)
}

.switch{
  position: relative;
  display: inline-block;
  width: 59px;
  height: 32px;
  margin: 0 10px;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(236, 78%, 70%);
  transition: 0.4s;
  border-radius: 32px;
}

.switch input{
  display: none;
}

.slider:before{
  position: absolute;
  content: "";
  height: 25px;
  width :25px;
  left: 3px;;
  bottom: 4px;
  background: white;
  transition: 0.4s;
  border-radius: 22px;
}
input:checked + .slider{
  background: hsl(236, 78%, 70%);
}

input:checked + .slider:before{
  transform: translateX(28px);
}


/* Rate charts */

/* flex container for each pricing */
.plans{
  height: 670px;
  display: flex;
  justify-content: center;
}

/* basic pricing container*/
.basic{
  width: 353px;
  height: 454px;
  
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin:0px;
  align-items: center;
  background: white;
  
  color:  hsl(233, 13%, 49%);
  margin-top: 90px;
  box-shadow: black;
  border-radius: 10px;
  box-shadow: 0px 15px 15px rgba(194, 201, 237, 0.2);
}

.professional{
  width: 344px;
  height: 501px;
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center; 

  color: white;
  border-radius: 10px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  box-shadow: 0px 15px 15px rgba(194, 201, 237, 0.2);
}

.master{
  width: 353px;
  height: 454px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  border-radius: 10px;
  color:  hsl(233, 13%, 49%);
  margin-top: 90px;
  box-shadow: 0px 15px 15px rgba(194, 201, 237, 0.2);
}


.firstRow{
  margin-top: 40px;
  margin-bottom: 20px;  
}

.firstRowProfessional{
  margin-top: 60px;
  margin-bottom: 20px;
}

#basicPrice{
  font-size: 52px;
  color: hsl(232, 13%, 33%);
  padding-bottom: 20px;
}

#professionalPrice{
  font-size: 52px;
  padding-bottom: 20px;
}

#masterPrice{
  font-size: 52px;
  color: hsl(232, 13%, 33%);
  padding-bottom: 20px;
}

.underline{
  width: 80%; 
  border-bottom: 1px solid  hsl(240, 1%, 87%);  
}

.columnElements{
  padding:0px;
  padding-top: 21px;
  padding-bottom: 21px;
}

a{

  font-size: 14px;
  width: 80%;;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;

  margin-top: 35px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border-radius: 8px;
}

.link-hover:hover {
  border: 1px solid hsl(237, 63%, 64%);
  background: white;
  color: hsl(237, 63%, 64%);
}

.professional a{

  font-size: 14px;
  width: 80%;
  height: 30px;
  padding-top: 10px;
  text-align: center;

  margin-top: 35px;
  background: white;
  color: hsl(237, 47%, 66%);
  border-radius: 8px;
}

.middle-link-hover:hover{
  border: 1px solid white;
  color: white;
  background: hsl(237, 63%, 64%);
  text-decoration: none;
}


/* For devices with screen size of 750px and below */
@media only screen and (max-width: 750px) {
  body{
    overflow: scroll;
  }
  header {
    font-size: 12px;
  }
  
  .toggle-container {
    margin-top: 24px;
  }
  
  .plans {
    flex-wrap: wrap;
  }
  
  .basic, .professional, .master {
    width: 100%;
    margin-top: 24px;
  }

  .button{
    width: 80%;
  }
  .middleButton {
    width: 80%;
  }
  
  #basicPrice, #professionalPrice, #masterPrice {
    font-size: 32px;
  }
} 